.div_card{
    border: solid rgb(182, 182, 182) 1px;
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
    max-height: 388px;
    height: auto;
    overflow: hidden;
}

.div_title{
    display: flex;
    align-items: center;
    margin: 10px;
}

.div_title > span{
    margin-left: 18px;
}

.img_cardIcon{
    width: auto;
    height: 40px;
}

.div_headerImg{
    width: 100%;
    height: 120px;
    min-height: 100%;
}

.div_body > p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-family: source-sans-pro, sans-serif;
    font-size: 13px;
}

.div_footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.div_card > hr{
    margin: 100px 15px 15px 15px;
    border-bottom: 1px solid gray;
}

.div_footer > li{
    margin-bottom: 15px;
    padding: 5px;
    border: grey solid 2px;
    border-radius: 20px;
    font-size: 15px;
    font-family: source-sans-pro, sans-serif;

}